*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(180, 80, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: aqua;
    padding: 2rem;
    min-height: 45vh;
    width: 50vh;
}
form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid black;
    padding-left: 0.5rem;
    height: 2rem;
}
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem ;
}
 img {
    width: 1.75rem;
    margin: 1rem;
}
.select-container {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 2px solid lightgray;
    
}
.select-container select {
    font-size: 1rem;
    width: auto;
}
.message {
margin:  2rem 0 1rem 0;
}
form button {
    height: 3rem;
    background-color: rgb(212, 86, 196);
    color: azure;
    font-size: 1.15rem;
    cursor: pointer;
}